body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
}

a {
	text-decoration: none;
	color: grey;
}

#page {
}

#header {
	display: inline;
	text-align: center;
}

#search {
	/* TODO: custom search bar look */;
	padding-top: 5px;
	padding-left: 10px;
	float: left;
}

#title {
	font-size: 25px;
}

#header-buttons {
	color: grey;
	padding-top: 5px;
	padding-right: 20px;
	float: right;
}

#map-area {
	/* TODO: height dynamically set */
	height: 680px; 
	border-style: solid;
	border-width: 1px;
	border-color: grey;
}

#side-panel {
	border-right-style: solid;
	border-width: 3px;
	height: inherit;
	float: left;
	width: 250px;
}

#side-list {
	/* TODO: custom image list style */
   list-style-type: none; 
   margin: 0px;
   padding: 10px;
}

.side-list-element {
	border-bottom-style: solid;
	border-width: 1px;
	border-color: grey;
	margin-bottom: 20px;
	padding: 20px;
}

.friend-detail {
	padding-top: 10px;
	margin-left: 20px;
	color: grey;
}

.friend-title {
	margin: 5px;
}

#map {
	height: inherit;
}

#footer {
	color: grey;
	text-align: center;
	width: 100%;
}

